<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact form</h1>
    {%if not request.POST%}
    <form action="/contact/" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required/><br/><br/>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required/><br/><br/>

        <label for="email">email:</label>
        <input type="email" id="email" name="email" required/><br/><br/>

        <label for="bio">bio:</label>
        <textarea type="text" id="bio" name="bio" required rows="4" cols="50"></textarea><br/><br/>

        <label for="agree">Agree:</label>
        <input type="checkbox" id="agree" name="agree"/><br/><br/>

        <input type="submit" value="Send">
    </form>
    {% else %}
    <h2>Data recieved</h2>
    <p>Name: {{request.POST.name}}</p>
    <p>Age: {{request.POST.age}}</p>
    <p>Email: {{request.POST.email}}</p>
    <p>Bio: {{request.POST.bio|linebreaks}}</p>
    <p>Agree: {{request.POST.agree}}</p>
    {%endif%}
</body>
</html>