<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add film</h1>
    {%if not sent%}
    <form action="/film/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}

        <input type="submit" value="Send">
    </form>
    {% else %}
    <h2>Data recieved</h2>
    <p>Title: {{request.POST.title}}</p>
    <p>Director: {{request.POST.director}}</p>
    <p>Release Year: {{request.POST.release_year}}</p>
    <p>Rating: {{request.POST.rating}}</p>
    <img src="/media/{{request.FILES.poster.name}}" width="200">
    {%endif%}
</body>
</html>