{% extends 'base.html' %}

{% block content %}
<h2>Читачі</h2>

<a href="{% url 'reader_create' %}">Додати читача</a>

<ul>
{% for reader in readers %}
  <li>
    {% if reader.avatar %}
      <img src="/media/{{ reader.avatar }}" width="40" style="vertical-align:middle;border-radius:50%;">
    {% endif %}
    <a href="{% url 'reader_details' reader.id %}">
      {{ reader.first_name }} {{ reader.last_name }}
    </a>
    | <a href="{% url 'reader_update' reader.id %}">Редагувати</a>
    | <form method="post" action="{% url 'reader_delete' reader.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Видалити</button>
      </form>
  </li>
{% endfor %}
</ul>

{% endblock %}
