{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ book.title }}</h2>

<img src="/media/{{ book.cover }}" width="200">


<ul>
  <li>Автор: {{ book.author }}</li>
  <li>Рік: {{ book.year }}</li>
  <li>Стиль: {{ book.genre }}</li>
  <li>Видавництво: {{ book.publisher }}</li>
  <li>В наявності: {{ book.is_available|yesno:'Так,Ні' }}</li>
</ul>

<hr>

<div class="actions">
  <a href="{% url 'books_list' %}">До списку книг</a> |
  <a href="{% url 'book_update' book.id %}">Редагувати</a> |

  <form method="post"
        action="{% url 'book_delete' book.id %}"
        style="display:inline;">
    {% csrf_token %}
    <button type="submit">Видалити</button>
  </form>
</div>

{% endblock %}
