{% extends 'base.html' %}

{% block content %}
<h2>Список книг</h2>

<a href="{% url 'book_create' %}">Додати книгу</a>
<p>
  <strong>Фільтр:</strong>
  <a href="{% url 'books_list' %}" 
     {% if not show_available %}style="font-weight:bold;"{% endif %}>Усі книги</a> |
  <a href="{% url 'books_list' %}?available=1" 
     {% if show_available == '1' %}style="font-weight:bold;"{% endif %}>Тільки в наявності</a>
</p>
<div class="grid">
{% for book in books %}
  <div class="card">
    {% if book.cover %}
      <img src="/media/{{ book.cover }}" alt="cover" width="150">
    {% endif %}
    <h3>{{ book.title }}</h3>
    <p>{{ book.author }}</p>
    
    <a href="{% url 'book_details' book.id %}">Детальніше</a>
    | <a href="{% url 'book_update' book.id %}">Редагувати</a>
    | <form method="post" action="{% url 'book_delete' book.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Видалити</button>
      </form>
  </div>
{% endfor %}
</div>

{% endblock %}
