.Monday {
    background: lightblue;
}

.Tuesday {
    background: lightgreen;
}

.Wednesday {
    background: lightyellow;
}

.Thursday {
    background: lightpink;
}

.Friday {
    background: lightgray;
}

.Saturday {
    background: orange;
}

.Sunday {
    background: violet;
}
